.content { background: map-get($colors, light ) }
.bar-button { color: white !important; }
.list, .item { background: transparent; }
.toolbar-background { background-color: map-get($colors, primary ); }
.toolbar-title { color: #ffffff; }

.center { text-align: center !important; }

.padding {padding: 16px; }
.padleft { padding-left: 16px; }
.padright { padding-right: 16px; }
.padtop { padding-top: 16px; }
.padbottom { padding-bottom: 16px; }

.padlefthalf { padding-left: 8px; }
.padrighthalf { padding-right: 8px; }
.padtophalf { padding-top: 8px; }
.padbottomhalf { padding-bottom: 8px; }

.margin {margin: 16px; }
.margleft { margin-left: 16px; }
.margright { margin-right: 16px; }
.margtop { margin-top: 16px; }
.margbottom { margin-bottom: 16px; }

.marglefthalf { margin-left: 8px; }
.margrighthalf { margin-right: 8px; }
.margtophalf { margin-top: 8px; }
.margbottomhalf { margin-bottom: 8px; }



.list { margin-bottom: 6px; }

.text {
  font-size: 20px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.list-header {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize !important;
  color: #000000;
}

.thumbnail {
  height: 56px !important;
  width: 56px !important;
  background: map-get($colors, light_darker );
  text-align: center;
  color: map-get($colors, primary );
  font-weight: 400;
  border-radius: 9px;
}