<ion-content>

  <div class="container">

    <div class="custom-header">
      <h2>Allocate a room</h2>
      <h1>Rooms</h1>
      <ion-icon *ngIf="clicked == false || clicked == null" name="ios-arrow-dropdown-circle" (click)="activateFilter()"></ion-icon>
      <ion-icon *ngIf="clicked == true" name="ios-close-circle" (click)="activateFilter()"></ion-icon>
    </div>

    <div class="filter" [class.active]="clicked == true" [class.inactive]="clicked == false">
      <div *ngIf="clicked == true">
        <h3>When do you need the room?</h3>
        <button ion-button color="light" (click)="pickDate()">Week {{ week }}</button>
        <button ion-button color="light" (click)="pickDay()">{{ weekDay | day }}</button>
        <h3>Your preffered time</h3>
        <button ion-button color="light" (click)="showTimeRadioAlert(0)">{{ timeStart | time }}</button>
        <button ion-button color="light" (click)="showTimeRadioAlert(1)">{{ timeEnd | time }}</button>
        <h3>Guests</h3>
        <ion-row>
          <ion-col col-3>
            <button ion-button color="light" (click)="calcGuests(-1)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-1>{{ guests }}</ion-col>
          <ion-col col-2>
            <button ion-button color="light" (click)="calcGuests(1)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <div class="search-wrapper">
          <button ion-button outline color="light" class="search-btn" 
          (click)="filterRooms(guests, timeStart, timeEnd, week, weekDay)"
          >Filter Rooms</button>
        </div>
      </div>
    </div>

    <div *ngIf="rooms?.length > 0" class="room">
      <h2>Available Rooms</h2>
      <ion-list no-lines>
        <ion-item *ngFor="let room of rooms" (click)="presentConfirm(room.id)">
          <ion-icon name="ios-pin-outline" color="primary" item-start></ion-icon>
          <h3>{{ room.id }}</h3>
          <h3 *ngIf="room.freeUntill != 99">Next lesson starts at: {{ room.freeUntill | time }}</h3>
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>


<!--
  (click)="bookRoom(guests, timeStart, timeEnd, week, weekDay, room.id)
-->