page-login {
  .content { background: linear-gradient(map-get($colors, primary ), #990227); text-align: center; }
  .container { 
    height: 80%; 
    img {
      margin-top: 50px;
      height: 180px;
      width: 180px;
    }
  }
  .button {
    border-radius: 3px !important;
    font-size: 16px;
    height: 40px;
    width: 240px;
    img {
      position: absolute;
      left: 0;
      margin-left: 16px;
      height: 16px;
      width: 16px;
    }
  }
}
