page-schedule {

  .list-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize !important;
    color: #000000;
  }

  .start {
    height: 28px;
    padding-top: 8px;
    font-size: 15px;
  }
  .end {
    font-size: 15px;
  }


}
